/* Footer CSS */

.footer {
    text-align: center;
    grid-area: ft;
    background-color: #AA6075;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.social {
    display: flex;
    justify-content: center;
}


/* Custom Icons */

.fa-facebook-square {
    color: #eee;
    font-size: 60px;
    padding: 10px;
}

.fa-twitter-square {
    color: #eee;
    font-size: 60px;
    padding: 10px;
}

.fa-envelope {
    color: #eee;
    font-size: 60px;
    padding: 10px;
}